use nvm --auto

export SITE_TITLE="thickrocks"
export SITE_URL="https://thick.rocks"
export SITE_DESCRIPTION="Blog about Software Development, Unix and more."
export SITE_AUTHOR="Matthew Murray"
export SITE_CONTACT_EMAIL="inbox@thick.rocks"
export SITE_MASTODON="https://fosstodon.org/@thickrocks"
export SITE_SOURCEHUT="https://sr.ht/~thickrocks"
export SITE_KEYOXIDE="https://keyoxide.org/09A6A7FA92757D6F72DD89C1F3F38D991D33C253"
export SITE_KOFI="https://ko-fi.com/V7V56ZQOY"
