---json
{
  "permalink": "feed.json",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "compti.me",
    "subtitle": "Blog about Software Engineering, Cloud, Unix and various other tech",
    "url": "https://compti.me",
    "feedUrl": "https://compti.me/feed.json",
    "author": {
      "name": "Matthew Murray"
    }
  }
}
---
{
  "version": "https://jsonfeed.org/version/1.1",
  "title": "{{ metadata.title }}",
  "home_page_url": "{{ metadata.url }}",
  "feed_url": "{{ metadata.feedUrl }}",
  "description": "{{ metadata.subtitle }}",
  "authors": [
    {
      "name": "{{ metadata.author.name }}",
      "url": "{{ metadata.url }}"
    }
  ],
  "items": [
    {%- for post in collections.post | reverse %}
      {% if post.draft %}
      {% else %}
        {%- set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset -%}
        {
          "id": "{{ absolutePostUrl }}",
          "url": "{{ absolutePostUrl }}",
          "title": "{{ post.data.title }}",
          "content_html": {% if post.templateContent %}{{ post.templateContent | dump | safe }}{% else %}""{% endif %},
          "date_published": "{{ post.date | dateToRfc3339 }}"
        }
        {% if not loop.last %},{% endif %}
      {% endif %}
    {%- endfor %}
  ]
}
